.main{
    background-color: #003366;
}
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}
#product-header-section, .intro-type .container {
    padding: 68px 15px 72px !important;
}
@media (min-width: 1630px)
.container {
    width: 1630px;
}
.parallax {
    
    background-attachment: inherit !important;
}
.parallax {
   
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute; 
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.company-heading h1 {
   text-shadow: 4px 4px 7px darkgray;
    margin-bottom: 10px;
    line-height: 80px;
    color: #fff;
    font-weight: 600 !important;
    text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 50px;
     color: #fff;
    margin-bottom: 10px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 30px;
     color: #fff;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family:Georgia;
    color: #fff;
    text-shadow: 3px 3px 7px darkgray;
}
.red-border {

    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}
.company-sections p {
     color: #fff;
     font-size: 15px;
    margin-top: 1px;
}
.ct-u-size22 {
     color: #fff;
    font-size: 22px;
}
.ct-u-fontWeight300 {
    color: #fff;
    font-weight: 300;
}
.marginTop40 {
     color: #fff;
    margin-top: 1px !important;
}
.ct-u-paddingBoth100 {
     color: #fff;
    padding: 1px 15px;
}
.pb{
    text-shadow: 4px 4px 7px darkgray;
    color:white;
    font-family: Georgia;
    font-size: 60px; 
    margin-left: 470px;
    position: center center;
}
.con{
 text-shadow: 4px 4px 7px darkgray;
    color:white;
    font-family: Georgia;
    font-size: 20px; 
    margin-left: 580px;
    position: center center;   
}