.contact-part {
    text-align: left;
    z-index: 1;
    background-color: lightgray;
    width: 80%;
    box-shadow: 0px 0px 2px black;
}

.contact-part .text-sec-1 {
    font-family: Georgia,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #226085;
    padding: 20px 20px 20px 20px;
    letter-spacing: 1.5px;
}

.contact-part .sub-text-sec-1 {
    font-family: Georgia,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #226085;
    padding: 20px 20px 20px 20px;
    letter-spacing: 1.5px;
}

.form-tab .LHS {
    font-family: Georgia;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    color: #226085;
    font-weight: bold;
    text-transform: uppercase;
}

.form-tab table {
    padding: 20px 20px 20px 10px;
}

.form-tab table tr td {
    padding: 5px 0px 5px 0px;
}

input[type="text" ]{
    height: 37px;
    width: 500px;
    font-family: Georgia,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 0px;
    box-shadow: 0px 0px 1px black;
}

textarea {
    font-family: Georgia,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 0px;
    box-shadow: 0px 0px 1px black;
}

input:hover {
    background-color: #CFD8DC;
}

textarea:hover {
    background-color: #CFD8DC;
}

input:focus {
    box-shadow: inset 0px 0px 7px #226085;
}

.submitButton {
    border: 0px;
    font-family: Georgia,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #226085;
    width: 200px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px #226085;
    text-transform: uppercase;
    font-weight: bold;
}

.submitButton:hover {
    box-shadow: inset 0px 0px 20px #226085;
    background-color: white;
    transition-duration: 2s;
    cursor: pointer;
}