body {
    margin:1px;
    padding:1px;
    background-color: #003366;
}

.header {
    width: 100%;
    height: 124px;
    margin-top: 20px;
    border-bottom: 1px ridge #EEEEEE;
}

.logo {
    float: left;
    height: 65px;
    width: 181px;
    margin: 10px 0px 10px 40px;
}

.menu {
    float: right;
    margin: 0px 40px 10px 0px;

}

ul li {
    text-decoration: none;
    font-family: Georgia;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    letter-spacing: 1px;
    font-size: 18px;
    color:#FFCC00 ;
    font-weight: bold;
    vertical-align: middle;
}

li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.menu li:hover {
    box-shadow: -4px -4px 0px #3587b6;
    transition-duration: 0.5s;
    color: #3587b6;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#wonders-nav {
    display: none;
    height: 430px;
    position: relative;
    animation-name: fadeingMenu;
    animation-duration: 10s;
}

@keyframes fedeingMenu {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

#wonders-nav ul li {
    width: 30%;
}

.clear {
    clear: both;
}

.wrap {
    display: inline-flex;
}

.nav-image {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
}

.nav-image img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    opacity: 1;
    filter: grayscale(100%);
}

.nav-image img:hover {
    filter: grayscale(0%);
}

.nav-headline {
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #CCCCCC;
    margin: 20px 0px 0px 20px;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-baseline {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #888888;
    text-transform: lowercase;
    letter-spacing: 0px;
}

.wonders-nav {
    height: 1000px;
    border: 1px solid black;
}

.about-menu {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Georgia;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 0px;
    color: #D16405;
    padding: 20px 0px 20px 0px;
    border-top: 2px solid #CCCCCC;
    background-color: #CCCCCC;
    cursor: pointer;
}