.footer {
    width: 100%;
    background-color: #DCF600/*#b3d4fc*/;
    color: #D16405;
}


.footer tr td {
    width: 450px;
    padding: 50px;
}

.footText {
    color: darkblue/*#D16405*/;
    font-family: Georgia;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-weight: bold;
    font-size: 14px;
    margin: 20px 0px 0px 0px;
}

.footNav {
    column-count: 2;
    
    font-family: Georgia;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    line-height: 30px;
}

.footer .headLine {
    /*color: #90A4AE;*/
    font-weight: bold;
    color: darkblue;
    font-family: Georgia,serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 30px;
    margin-left: 40px;
}

.footer .socialLinks {  
    /*color: #90A4AE;*/
    font-family: Georgia;
    font-weight: bold;
    color: darkblue;
/*    text-transform: capitalize;*/
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    margin: 20px 0px 0px 0px;
    margin-left: 40px;
    line-height: 25px;
}

.footer a:hover {
    color: #D16405;
    transition-duration: 0.2s;
}

a:active {
    color: darkblue;
}

a:visited {
   color: darkblue;
    /*color: #90A4AE;*/
}

a:link {
    color: darkblue;
    /*color: #90A4AE*/;
}