body{
	/*sbackground-image:url("../IMAGES/3xZzErD-the-great-wall-of-china-wallpaper.jpg");*/
	background-size: 1380px 650px;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-color: black;

	}
	
.typewrite {
    text-shadow: 2px 2px 8px red;
	color:#D16405;
	padding:10px 0px 0px 130px;
	font-size:2em;
	font-family:'LobsterTwo-Regular';
	margin-top: -0em;
	margin-left: -2em;
        

}
.conon{
    text-shadow: 2px 2px 8px red;
	line-height: 1.8em;
    font-size: 1.3em;
    padding:0px 0px 0px 10px;
    font-weight: 100px;
    color: #FFCC00;
    font-family: Tim;
    width: 80%;
    margin-top:-1em;
    margin-left: 1em;
    }


u{color:#003366;}
a.btnr {
	font-family:arial;
   padding: 0.40em;
    display: inline-block;
    text-shadow: 2px 2px 10px darkblue;
    margin-left: 12em;
    width: 27%;
    margin-top: -1em;
    color: darkgray;
    text-transform: capitalize;
    font-size: 2.2em;
    text-decoration: none;
    border: 2px solid #fff;
    text-align: center;
    margin-bottom:-8em;
}
.btnr:hover{
    background: #FF8C00/*#FFCC00*//*#003366*/;
    border-color: /*#FFCC00*/#FF8C00/*#003366*/;
    color: gray;
}

.flip-box {

  background-color: transparent;
  width: 230px;
  height: 100px;
  /*border: 1px solid;*/
  float: left;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: orange;
  color: white;
  transform: rotateY(-180deg);
}
/*second*/
.flip-box1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  float: left;
  perspective: 1000px;
}

.flip-box-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box1:hover .flip-box-inner1 {
  transform: rotateY(180deg);
}

.flip-box-front1, .flip-box-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front1 {
  background-color: #bbb;
  color: black;
}

.flip-box-back1 {
  background-color: red;
  color: white;
  transform: rotateY(-180deg);
}
.grid{
    height: 280px;
    width: 1300px;
}