.informationArea {
    width: 70%;
    box-shadow: 0px 3px 4px black;
    background-color: #5F6B77/*#F5F5F5*/;
}

.intro-video {
    width: 100%;
    background-color: #5F6B77;
}

.videoTagLine {
    padding:20px 0px 0px 0px;
}

.videoTagLine .headLine {
    font-family: Georgia;
    font-size: 43px;
    text-shadow: 0px 0px 5px white;
    letter-spacing: 1.4px;
    /*text-transform: uppercase;*/
    text-align: center center;
    color: lightgray;
}

.videoTagLine .baseLine {
    font-family:Georgia;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center center;
    color: lightgray;
}

.image-gallary {
    position: relative;
    height:630px;
    overflow: hidden;
}

.wrap {
    display: inline-flex;
}

.maps {
    width: 100%;
    overflow: hidden;}
iframe{
    border:solid;
    transition: all 3s;
}
iframe:hover{
    border:solid;
    padding: 16px 16px 16px 16px;
}