.informationArea {
    width: 100%;
}

.informationArea .image {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.informationArea img {
    position: absolute;
    width: 100%;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
   /* filter: blur(px);*/
}

.image-info {
    position: relative;
}

.image-info .headLine {
    font-family: din-pro, Helvetica, Arial, sans-se;
    /*text-transform: uppercase;*/
    font-size: 70px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 150px;
}

.image-info .baseLine {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 140px;
    left: 150px;
    text-transform: uppercase;
}

.wonderInfo {
    text-align: left;
    z-index: 1;
    background-color: white;
    width: 80%;
    box-shadow: 0px 0px 5px black;
    position: relative;
    top: -70px;
}

.heading {
    padding: 35px;
}

.heading .first {
    color: #005488;
    font-family: din-cond, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 1.1!important;
    font-weight: 700;
}

.heading .second {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading .thired {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #585858;
}

.wonderInfo .info {
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.wonderInfo .map {
    width: 100%;
}

.facts {
    margin-top: 100px;
    width: 100%;
}

.facts .first {
    color: #005488;
    font-family: din-cond, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 1.1!important;
    font-weight: 700;
}

.facts .second {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.facts .third {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #585858;
}

.facts table {
    width: 70%;
}

.facts table tr td {
    width: 40%;
    height: 100px;
    text-align: center;
    padding: 30px;
    vertical-align: top;
}

.facts caption {
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
    padding: 10px 0px 10px 0px;
}

.facts .que {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
}

.facts .ans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    text-transform: capitalize;
}