body {
	font-family: 'Lato', sans-serif;
    counter-reset: section;
    background-color:#003366; 
}

h1{
	color:#D16405;
	margin-left: 20px;
	text-shadow: 0px 0px 3px lightgray;
}
#quiz {
	/*margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 1100px;
	border-radius: 20px;
	float: left;
*/
}
.questions::before{ counter-increment:section;
			content:"("counter(section)")";}

input{
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: gray;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
     
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
} 