<!DOCTYPE html>
<html>
<head>
    <title></title>
<link href ="../CSS/style.css" rel ="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src ="../JS/main.js"></script>

    
    <link rel="icon" type="image/png" href="../IMAGES/logo.png">
    <link rel="stylesheet" type="text/css" href="../CSS/defaultHeader.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/defaultFooter...css" />
    <link rel="stylesheet" type="text/css" href="../CSS/contactFormatting.css" />
    <script>
        function toggle() {
            var x = document.getElementById("wonders-nav");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="pagination.css" rel="stylesheet">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>

<script type="text/javascript">
$(document).ready(function() { 
$('#pagination-demo').twbsPagination({
totalPages: 2,
// the current page that show on start
startPage: 1,

// maximum visible pages
visiblePages: 2,

initiateStartPageClick: true,

// template for pagination links
href: false,

// variable name in href template for page number
hrefVariable: '{{number}}',

// Text labels
first: 'First',
prev: 'Previous',
next: 'Next',
last: 'Last',

// carousel-style pagination
loop: false,

// callback function
onPageClick: function (event, page) {
   $('.page-active').removeClass('page-active');
  $('#page'+page).addClass('page-active');
},

// pagination Classes
paginationClass: 'pagination',
nextClass: 'next',
prevClass: 'prev',
lastClass: 'last',
firstClass: 'first',
pageClass: 'page',
activeClass: 'active',
disabledClass: 'disabled'

});

});
</script>
<style type="text/css">
.container {
  margin-top: 20px;
}
.page {
  display: none;
}
.page-active {
  display: block;
}

</style>
</head>
<body>
  <body style="background-color:#003366;">
    <div class="contantArea">
        <div class="header">
            <div class="logo">
                <a href="../Default.html"><img src="../IMAGES/logo.png" height="65px" width="181px"></img>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <a href="../Default.html">
                        <li>HOME</li>
                    </a>
                    <a onclick="toggle()">
                        <li><span>NEW 7 WONDERS<br /></span>
                            <span>OF THE WORLD</span>
                        </li>
                    </a>
                    <a href="index.html"> <!-- add link for quiz -->
                        <li>QUIZ</li>
                    <a href="aboutus.html"> <!-- add link for about page -->
                        <li>ABOUT US</li>
                    </a>

                    <a href="contact.html">
                        <li>CONTACT US</li>
                    </a>

                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div id="wonders-nav">
            <ul>
                <li>
                    <a href="colosseum.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/melanie-van-leeuwen-83771-150x150.jpg" />
                            </div>
                            <div class="nav-headline">
                                COLOSSEUM
                                <div class="nav-baseLine">Italy</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="machu.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/scott-umstattd-87129-100x100.jpg" />
                            </div>
                            <div class="nav-headline">
                                MACHU PICCHU
                                <div class="nav-baseLine">Peru</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="petra.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/BALLOON_Petra24_high_PRIMEedit-75x75.jpg" />
                            </div>
                            <div class="nav-headline">
                                PETRA
                                <div class="nav-baseLine">Jordan</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="china.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/N7W-China-0414-7426_final-150x150.jpg" />
                            </div>
                            <div class="nav-headline">
                                GREAT WALL OF CHINA
                                <div class="nav-baseLine">People's Republic of China</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="taj.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/Taj_Mahal_N7W_Baloon-75x75.jpg" />
                            </div>
                            <div class="nav-headline">
                                TAJ MAHAL
                                <div class="nav-baseLine">India</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chichen.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/4IMG_5465-150x150.jpg" />
                            </div>
                            <div class="nav-headline">
                                Chichén Itzá
                                <div class="nav-baseLine">Maxico</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="christ.html">
                        <div class="wrap">
                            <div class="nav-image">
                                <img src="../IMAGES/CHRISTO4_detail12_dark-100x100.jpg" />
                            </div>
                            <div class="nav-headline">
                                CHRIST THE REDEEMER
                                <div class="nav-baseLine">Brazil</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

  <form id = "quiz" name = "quiz">
<div class="container">
   <div class="jumbotron page" id="page1" style="margin-left: -90px;background: #d2def2;padding: 10px 20px 10px 20px;width: 1100px;border-radius: 20px;  float: left;">
      <p class = "questions">Which among the following does not belong to the seven ancient wonders of the world?<span id="one" style="display: none;"><b>*</b></span></p><!-- this que 2 from mail -->

      <input type = "radio" id = "mc" name = "question1" value = "The Statue of Jupiter Olympus"> The Statue of Jupiter Olympus<br>
      <input type = "radio" id = "mc" name = "question1" value = "The Pharos of Alexandria"> The Pharos of Alexandria<br>
      <input type = "radio" id = "mc" name = "question1" value = "Great Wall of China"> Great Wall of China<br>
      <input type = "radio" id = "mc" name = "question1" value = "The Pyramids of Egypt"> The Pyramids of Egypt<br>


      <p class = "questions">Which is called the first wonder of the world?<span id="two" style="display: none;"><b>*</b></span></p>
      <input type = "radio" id = "mc" name = "question2" value = "The Pyramids of Egypt"> The Pyramids of Egypt<br>
      <input type = "radio" id = "mc" name = "question2" value = "The Hanging Gardens of Babylon"> The Hanging Gardens of Babylon<br>
      <input type = "radio" id = "mc" name = "question2" value = "The Tomb of Mausolus">The Tomb of Mausolus<br>
      <input type = "radio" id = "mc" name = "question2" value = "The Colossus of Rhodes">The Colossus of Rhodes<br>


      <p class = "questions">Who built the Pharos of Alexandria?<span id="three" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question3" value = "Dinocrates"> Dinocrates<br>
      <input type = "radio" id = "mc" name = "question3" value = "Eudoxus of Cnidus">Eudoxus of Cnidus<br>
      <input type = "radio" id = "mc" name = "question3" value = "Mausolus"> Mausolus<br>
      <input type = "radio" id = "mc" name = "question3" value = "Sostratus of Cnidus"> Sostratus of Cnidus<br>

      <p class = "questions">Which among the following does not belong to seven new wonders of the world?<span id="four" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question4" value = "Taj Mahal of Agra"> Taj Mahal of Agra<br>
      <input type = "radio" id = "mc" name = "question4" value = "Pyramid at Chichen Itza">Pyramid at Chichen Itza<br>
      <input type = "radio" id = "mc" name = "question4" value = "Ruins of Petra">Ruins of Petra<br>
      <input type = "radio" id = "mc" name = "question4" value = "The Eiffel Tower in Paris"> The Eiffel Tower in Paris<br>


      <p class = "questions">Who built Machu Picchu?<span id="five" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question5" value = "Atahualpa"> Atahualpa<br>
      <input type = "radio" id = "mc" name = "question5" value = "Huayna Capac">Huayna Capac<br>
      <input type = "radio" id = "mc" name = "question5" value = "Pachacutec"> Pachacutec<br>
      <input type = "radio" id = "mc" name = "question5" value = "Viracocha Inca"> Viracocha Inca<br>

         
      
      </div>
   </div>
   <div class="jumbotron page" id="page2" style="margin-left: 10px;background: #d2def2;padding: 10px 20px 10px 20px;width: 1100px;border-radius: 20px;  float: left;">
      <p class = "questions">Who designed Statue of Christ - The Redeemer?<span id="six" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question6" value = "Anna Levinson"> Anna Levinson<br>
      <input type = "radio" id = "mc" name = "question6" value = "Apostolos Vellios">Apostolos Vellios<br>
      <input type = "radio" id = "mc" name = "question6" value = "Heitor de Silva Costa"> Heitor de Silva Costa<br>
      <input type = "radio" id = "mc" name = "question6" value = "Olena Shurkhno"> Olena Shurkhno<br>


      <p class = "questions">In what city is the Colosseum located ?<span id="seven" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question7" value = "Rome"> Rome<br>
      <input type = "radio" id = "mc" name = "question7" value = "Milan">Milan<br>
      <input type = "radio" id = "mc" name = "question7" value = "Naples"> Naples<br>
      <input type = "radio" id = "mc" name = "question7" value = "Venice"> Venice<br>


      <p class = "questions"> Which wonder was discovered by a Swiss Explorer in 1812 ?<span id="eight" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question8" value = "Hanging garden of Babylon"> Hanging garden of Babylon<br>
      <input type = "radio" id = "mc" name = "question8" value = "Petra">Petra<br>
      <input type = "radio" id = "mc" name = "question8" value = "The Colossus of Rohdes"> The Colossus of Rohdes<br>
      <input type = "radio" id = "mc" name = "question8" value = "Machu Picchu"> Machu Picchu<br>


      <p class = "questions">Which of the following is an ancient seven wonder?<span id="nine" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question9-" value = "St. Louis Arch"> St. Louis Arch<br>
      <input type = "radio" id = "mc" name = "question9" value = "The Colliseum">The Colliseum<br>
      <input type = "radio" id = "mc" name = "question9" value = "The Hanging Gardens of Babylon"> The Hanging Gardens of Babylon<br>
      <input type = "radio" id = "mc" name = "question9" value = "The Great Wall of China"> The Great Wall of China<br>


      <p class = "questions">
      The Taj Mahal was built by a Mughal Emperor to honor his late <span id="ten" style="display: none;"><b>*</b></span></p>

      <input type = "radio" id = "mc" name = "question10" value = "Son"> Son<br>
      <input type = "radio" id = "mc" name = "question10" value = "Father">Father<br>
      <input type = "radio" id = "mc" name = "question10" value = "Wife"> Wife<br>
      <input type = "radio" id = "mc" name = "question10" value = "Daughter"> Daughter<br>
 <input id = "button" type = "button" value = "I'm finished!" onclick = "check();">     
   </div>
  
</form>
 
   <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
</div>
<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<img id = "picture">

</body>
</html>
